name: osv-scanner

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "23 3 * * 1"

permissions:
  contents: read

jobs:
  osv-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run OSV Scanner
        uses: google/osv-scanner-action@v1
        with:
          scan-args: |-
            -r
            .
